.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
  overflow-x: auto !important;
}

.sidebar-menu .treeview-menu {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.ui-grid-row .btn-default {
  background-color: rgba(255, 255, 255, 0.5);
}

.ui-grid-vcenter{
  text-align:center;
  position: relative;
}

.alert-message {
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -150px;
    width: 500px;
    z-index: 9999;
}
