*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
bower_components
datasources.local.js
common/models/client.*
common/models/item.*
out
generatedSchema.js
client/loopback/lb-services.js
client/sparrow/dist/sparrow.js
